/scummpy/Textify.pyc
/scummpy/ScummPyUtils.pyc
/scummpy/ScummPyRoom.pyc
/scummpy/ScummPyHud.pyc
/scummpy/ScummPyEvent.pyc
/scummpy/ScummPyCharacter.pyc
/scummpy/ScummPyAnimation.pyc
/scummpy/ScummPy.pyc
